<%- include('./partials/head') %>

<%- include('./partials/header') %>
      <main>
        <div class="learnteachtitle">
          <h1 class="newtitle">editar cursos publicados</h1>
        </div>

        <div class="main-content">
          <div class="main-box ">
            <section class="requests-todo">
              <form action="/pages/create/publicated/update/<%= alterar.id %>" method="POST">
                <input class="main-title name-course" data-bs-toggle="tooltip" data-bs-placement="right" title="Alterar nome do curso" id="requestsTitle" name="nome_curso_edicao" placeholder="nome curso" value="<%= alterar.curso %>"/>
                
                <div class="requests-box">
                  <i class="bx bx-time config-icon"></i>
                  <input type="number" id="time" class="request-input" data-bs-placement="right" title="Carga horária do curso" name="carga_horaria_edicao" placeholder="hora" value="<%= alterar.carga_horaria %>"/>
                </div>

                <div class="requests-box">
                  <i class="bx bx-coin-stack config-icon"></i>
                  <input type="number" id="coin" class="request-input" data-bs-placement="right" title="Coin(s)" name="coin_edicao" placeholder="coin" value="<%= alterar.coin %>"/>
                </div>


                <div class="requests-box">
                  <i class="bx bx-calendar config-icon"></i>
                  <textarea id="data" class="request-input" ata-bs-placement="right" title="Data e hora do curso agendado" name="data_hora_agendado" placeholder="data" readonly><%= data_brasil %></textarea>
                </div>

                <div class="requests-box">
                  <i class="bx bx-calendar config-icon"></i>
                  <input type="datetime-local" id="data" class="request-input" ata-bs-placement="right" title="Alterar data e hora" ment="right" title="Data e hora do curso alterado" name="data_hora_edicao" placeholder="data hora edição" value=""/>
                </div>
                
                <div class="requests-box" id="newdescription">
                  <i class="bx bx-book config-icon"></i>
                  <textarea name="descricao_edicao" id="mensagem" class="request-input" ata-bs-placeata-bs-placement="right" title="Alterar descrição do curso" cols="23" rows="3" placeholder="mensagem"><%= alterar.descricao %></textarea>
                </div>
              </section>
              </div>
            
                <div class="btn-request-edit">
                  <div class="btn-req-edit">
                    <button type="button" class="btn mt-3 requestsbtn alterar" data-bs-toggle="modal" data-bs-target="#edit-course">editar curso</button>
                  </div>
                </div>

                <!-- Modal -->
              <div class="modal fade" id="edit-course" tabindex="-1" aria-labelledby="edit-course" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="edit-course">Editar curso</h5>
                    </div>
                    <div class="modal-body">
                      <p>Confirma a edição do curso?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">não</button>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirm-edicao">sim</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="confirm-edicao" tabindex="-1" aria-labelledby="confirm-edicao" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="confirm-edicao">Editar curso</h5>
                    </div>
                    <div class="modal-body">
                      <p>Edição efetuada com sucesso!</p>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Sair</button>
                    </div>
                  </form>  
                  </div>
                </div>
              </div>

          </div>
          <div class="requestsimg">
            <img src="/images/learn-code.svg" alt="entrar" />
          </div>
  
      </main>
    <%- include('./partials/footer') %>
  </body>
</html>