<%- include('./partials/head') %>

<%- include('./partials/header') %>
  <main>
    <div class="learnteachtitle" id="main-title-publicated">
      <h1 class="main-title">todas as mensagens</h1>
    </div>

    <div class="main-content">
      <div class="main-box ">
        <section class="main-todo" id="fundo-cinza">          
          <div class="main-buttons" id="main-buttons">
            <div class="filtro">       
              <div class="todas-page">
                <a href="/pages/create/message"><button class="btn-status btn-tipos">todas</button></a>
              </div>
              <div class="nao-lidas">
                <a href="/pages/create/message/unreadMessages"><button class="btn-status btn-tipos">não lidas</button></a>
              </div>
              <div class="lidas">
                <a href="/pages/create/message/readMessages"><button class="btn-status btn-tipos">lidas</button></a>
              </div>
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Lida</th>
                  <th scope="col">Mensagem</th>
                  <th colspan="2">Ações</th>
                </tr>
              </thead>
              <tbody>
                <% mensagens.forEach(element => { %>
                  <form action="/pages/create/message/<%= element.id_mensagem %>" method="POST">
                  <tr>
                    <th scope="row"><%= element.id_mensagem %></th>
                    
                    <% if(element.lida === true) { %>
                      <td><input type="checkbox" name="lida" id="" value="<%= element.lida %>" checked></td>  
                      <% } else { %>
                        <td><input type="checkbox" name="lida" id="" value="<%= element.lida %>"></td>
                        <% }%>
                        
                        <% if(element.id_curso_mensagem === 0) { %>
                          <td data-bs-toggle="tooltip" data-bs-placement="top" title="Mensagem do sistema!"><%= element.mensagem %></td>   
                          <% } else { %>  
                            <td data-bs-toggle="tooltip" data-bs-placement="top" title="Curso: <%= element.curso %> - Coin: <%= element.coin %> - Data/Hora: <%= element.data_hora %>"> <%= element.mensagem %> - Curso: <%= element.id_curso_mensagem %></td>   
                            <% } %>
                            
                        <% if(element.lida == true) { %>
                          <td><button type="submit" class="btn-action" data-bs-toggle="modal" data-bs-target="#unReadMsg" data-bs-toggle="tooltip" data-bs-placement="top" title="Marcar mensagem como não lida" id="btn-check"><i class='bx bx-checkbox config-icon'></i></button></td>
                        <% } else { %>
                          <td><button type="submit" class="btn-action" data-bs-toggle="modal" data-bs-target="#readMsg" data-bs-toggle="tooltip" data-bs-placement="top" title="Marcar mensagem como lida" id=" btn-check"> <i class='bx bxs-checkbox-checked config-icon'></i></button></td>
                        <% } %>

                        </form>
                                
                            <% if(element.id_curso_mensagem === 0) { %>
                              <td></td>    
                              <% } else { %>
                                <td><a href="/pages/create/message/sendMessage/<%= element.id_curso %>"><button type="submit" class="btn-action" data-bs-toggle="tooltip" data-bs-placement="top" title="Enviar mensagem"><i class='bx bx-message-rounded-add config-icon'></i></a></td>    
                                  <% } %>
                                </tr>
                          <% }) %>
                        </tbody>
                      </table>
                      
                 <!-- paginacao  -->
                  <div class="d-flex justify-content-center mt-3" id="pagination">
                    <nav aria-label="Page navigation example" class="move">
                      <ul class="pagination">
                        <li class="page-item">
                          <% 
                            let hrefPrevious = ''
                            if(page > 1){
                                hrefPrevious = '/pages/create/publicated?page=' + (page - 1)
                              }
                          %> 
                          <a class="page-link" href="<%= hrefPrevious %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                          </a>
                        </li>
                        <li class="page-item">
                          <% 
                            let hrefNext = ''
                            if(totalPages > page){
                                hrefNext = '/pages/create/publicated?page=' + (page + 1)
                              }
                          %> 
                          <a class="page-link" href="<%= hrefNext %>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>             
              </div>

              
            </section>
          </div>
        <div class="main-img">
          <img src="/images/teach.svg" alt="entrar" id="img-publicated" />
        </div>
      </div>    
    </main>

  <%- include('./partials/footer') %>

  </body>
</html>


