<%- include('./partials/head') %>

<%- include('./partials/header') %>
        <main>
          <div class="learnteachtitle">
            <h1 class="newtitle">oportunidades disponíveis</h1>
          </div>
          <%
            let hrefPrevious = ''            
            if(idCurso > 0){
              hrefPrevious = '/pages/new/?idCurso='+(idCurso - 1)
            }
          %>
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item">
                <div class="left">
                  <a class="page-link" href="<%= hrefPrevious %> "><img src="/images/left.svg" alt="left" id="l"></a>
                </div>
              </li>
              
              <% 
                let hrefNext = ''
                if(idCurso < totalCursos - 1){
                  hrefNext = '/pages/new/?idCurso='+(idCurso + 1)
                }

              %> 
              <li class="page-item">
                <div class="right">
                  <a class="page-link" href="<%= hrefNext %>"><img src="/images/right.svg" alt="Next" id="r"></a>
                </div>
              </li>
            </ul>
          </nav>



          <div class="main-content">
            <div class="main-box ">
              <section class="requests-todo">
                <form action="/pages/new" method="POST">
                <input class="main-title" id="requestsTitle" name="nome_curso"  readonly value="<%= listaCursos.curso %>" />
                <input type="text" name="id_curso" value="<%= listaCursos.id%>" hidden>
                
                <div class="requests-box">
                  <i class="bx bx-user config-icon"></i>
                  <input type="text" id="user" class="request-input" name="usuario" placeholder="publicador" value="<%= listaCursos.nome_usuario %>"/>
                  <button id="button-user" style="display: none">Nome do usuário que minitrará o curso</button>
                </div>
                
                <div class="requests-box">
                  <i class="bx bx-time config-icon"></i>
                  <input type="text" id="time" class="request-input" name="hora" placeholder="hora" value="<%= listaCursos.carga_horaria %>"/>
                </div>
                <div class="requests-box">
                  <i class="bx bx-coin-stack config-icon"></i>
                  <input type="text" id="coin" class="request-input" name="coin" placeholder="coin" readonly value="<%= listaCursos.coin %>"/>
                </div>                 
                <div class="requests-box">
                  <i class="bx bx-calendar config-icon"></i>
                  <textarea type="text" id="data" class="request-input" name="data" placeholder="data" readonly cols="25" rows="2"><%= listaCursos.data_hora %></textarea>
                </div>
                <div class="requests-box" id="newdescription">
                  <textarea name="mensagem" id="mensagem" class="request-input" cols="23" rows="3" placeholder="mensagem" reaonly><%= listaCursos.descricao %></textarea>
                </div>    
              </section> 
              </div>  
              <div>
                  </div>
            </div>
            <div class="requestsimg">
              <img src="/images/learn-code.svg" alt="entrar" />
            </div>
            <button type="submit" class="btn mt-3 requestsbtn schedules" id="new">solicitar agendamento</button>
            </form>
            
          </div>  
          </div>
        </main>
    <%- include('./partials/footer') %>
  </body>
</html>