<%- include('./partials/head') %>

<%- include('./partials/header') %>
<!-- <div class="right">
  <a href="">
    <img src="/images/right.svg" alt="next">
  </a>
  </div> -->
  <main>
    <div class="learnteachtitle">
      <h1 class="requestsmaintitle">solicitações</h1>
    </div>

    <%
            let hrefPrevious = ''            
            if(idCurso > 0){
              hrefPrevious = '/pages/requests/?idCurso='+(idCurso - 1)
            }
          %>
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item">
                <div class="left">
                  <a class="page-link" href="<%= hrefPrevious %> "><img src="/images/left.svg" alt="left" id="l"></a>
                </div>
              </li>
              
              <% 
                let hrefNext = ''
                if(idCurso < totalAgendamentos - 1){
                  hrefNext = '/pages/requests/?idCurso='+(idCurso + 1)
                }

              %> 
              <li class="page-item">
                <div class="right">
                  <a class="page-link" href="<%= hrefNext %>"><img src="/images/right.svg" alt="Next" id="r"></a>
                </div>
              </li>
            </ul>
          </nav>

          <div class="main-content">
            <div class="main-box ">
              <section class="requests-todo">
                <h1 class="main-title" id="requestsTitle" data-bs-toggle="tooltip" data-bs-placement="top" title="Curso"><%= listaAgendamentos.curso %></h1>
                <form action="/pages/requests/acept" method="POST">
                <div class="requests-box">
              <i class="bx bx-user config-icon"></i>
              <input type="text" id="nome_usuario_curso" class="request-input" name="nome_usuario_curso" value="<%= listaAgendamentos.nome_usuario_curso %>" data-bs-toggle="tooltip" data-bs-placement="top" title="Solicitante"/>
              <input type="text" id="id_agendamento" class="request-input" name="id_agendamento" hidden value="<%= listaAgendamentos.id_agendamento %>"/>
              <input type="text" id="id_curso_agendamento" class="request-input" name="id_curso_agendamento" hidden value="<%= listaAgendamentos.id_curso_agendamento %>"/>
              <input type="text" id="id_curso_agendamento" class="request-input" name="id_curso_publicado" hidden value="<%= listaAgendamentos.id_curso_publicado %>"/>
              <input type="text" id="id_usuario_curso" class="request-input" name="id_usuario_curso" hidden value="<%= listaAgendamentos.id_usuario_curso %>"/>
              <input type="text" id="curso" class="request-input" name="curso" hidden value="<%= listaAgendamentos.curso %>"/>
          </div>
          <div class="requests-box">
            <i class='bx bx-calendar-check config-icon'></i>
            <textarea type="text" id="data_hora_agendada" class="request-input" name="data_hora_agendada" data-bs-toggle="tooltip" data-bs-placement="top" title="Data/Hora agendamento"><%= listaAgendamentos.data_hora_agendado_brasil %></textarea>
          </div>
          <div class="requests-box">
            <i class='bx bx-calendar config-icon'></i>
            <textarea type="text" id="data_hora_solicitada" class="request-input" name="data_hora_solicitada" data-bs-toggle="tooltip" data-bs-placement="top" title="Data/Hora solicitada"><%= listaAgendamentos.data_hora_solicitada_brasil %></textarea>
          </div>
          <div class="requests-box">
            <i class="bx bx-coin config-icon"></i>
            <input type="text" id="coin" class="request-input" name="coin" value="<%= listaAgendamentos.coin %>" data-bs-toggle="tooltip" data-bs-placement="top" title="Coin(s)"/>
          </div>
            <div class="btn-req-confirm">
              <button type="button" class="btn btn-primary requestsbtn confirm" data-bs-toggle="modal" data-bs-target="#solicitation">aceitar solicitação</button>
            </div>
            
            <div class="modal fade" id="solicitation" tabindex="-1" aria-labelledby="solicitation" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="solicitation">Solicitação de alteração de data/hora</h5>
                    </div>
                      <div class="modal-body">
                        <h6>Solicitação de alteração:</h6>
                          <p>Data/Hora agendamento: <%= listaAgendamentos.data_hora_agendado_brasil %></p>
                          <p>Data/Hora solicitada: <%= listaAgendamentos.data_hora_solicitada_brasil %></p>
                          <p>Confirma a alteração da data/hora de agendamento para a data solicitada?</p>  
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">não</button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirm-solicitation">sim</button>
                      </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="confirm-solicitation" tabindex="-1" aria-labelledby="confirm-solicitation" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="confirm-solicitation">Solicitação de alteração de data/hora</h5>
                    </div>
                      <div class="modal-body">
                        <p>Alteração da data/hora de agendamento foi realizada com sucesso!</p>  
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">sair</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
                
              <form action="/pages/requests/cancel" method="POST">
                <div class="btn-request">
                  <div class="btn-req-cancel">
                    <button type="button" class="btn btn-primary requestsbtn cancel" data-bs-toggle="modal" data-bs-target="#cancel-solicitation">cancelar solicitação</button>
                  </div>
                </div>

                <div class="modal fade" id="cancel-solicitation" tabindex="-1" aria-labelledby="cancel-solicitation" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="cancel-solicitation">Não aceitar alteração de data/hora</h5>
                        </div>
                          <div class="modal-body">
                            <input type="text" id="id_usuario_curso" class="request-input" name="id_usuario_curso" hidden value="<%= listaAgendamentos.id_usuario_curso %>"/>
                            <input type="text" id="id_curso_agendamento" class="request-input" name="id_curso_agendamento" hidden value="<%= listaAgendamentos.id_curso_agendamento %>"/>
                            <input type="text" id="coin" class="request-input" name="coin" hidden value="<%= listaAgendamentos.coin %>"/>
                            <input type="text" id="curso" class="request-input" name="curso" hidden value="<%= listaAgendamentos.curso %>"/>
                            <h6>Solicitação de alteração:</h6>
                            <p>Data/Hora agendamento: <%= listaAgendamentos.data_hora_agendado_brasil %></p>
                            <p>Data/Hora solicitada: <%= listaAgendamentos.data_hora_solicitada_brasil %></p>
                            <hr>
                            <p>O cancelamento da solicitação fará com que o(s) coin(s) pagos pelo curso sejam estornados para o aluno.</p>
                            <p>Confirma o cancelamento da solicitação?</p>  
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">não</button>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirm-cancel">sim</button>
                          </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="modal fade" id="confirm-cancel" tabindex="-1" aria-labelledby="confirm-cancel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="confirm-cancel">Solicitação de alteração de data/hora</h5>
                        </div>
                          <div class="modal-body">
                            <p>A solicitação do aluno foi cancelado com sucesso!</p>
                            <p>O aluno receberá uma mensagem via chat comunicando que a sua solicitação não foi aceita!</p>  
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">sair</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>            
            
            </div>
            
          </div>  
              </div>
              
          </section>
        <div class="requestsimg">
          <img src="/images/learn-code.svg" alt="entrar" />
        </div>

      </div>

  </main>

  <%- include('./partials/footer') %>

  </body>
</html>