<%- include('./partials/head') %>

<%- include('./partials/header') %>
<div class="right">
  <a href="">
    <img src="/images/right.svg" alt="next">
  </a>
  </div>
  <main>
    <div class="learnteachtitle">
      <h1 class="requestsmaintitle">solicitações</h1>
    </div>
    <div class="main-content">

      <div class="main-box ">

        <section class="requests-todo">
          <h1 class="main-title" id="requestsTitle"><%= listaAgendamentos.curso %></h1>
          <div class="requests-box">
            <i class="bx bx-user config-icon"></i>
            <!-- <input type="text" id="nome_usuario_curso" class="request-input" name="nome_usuario_curso" placeholder="publicador" value="<%= listaAgendamentos.nome_usuario_curso %>"/> -->
          </div>
          <div class="requests-box">
            <i class="bx bx-time config-icon"></i>
          </div> 
            <div class="requests-box">
            <i class="bx bx-calendar config-icon"></i>
        </div>
            <a href="">
                <span class="btn mt-3 requestsbtn">confirmar agendamento</span>
                </a>
        </div>  
            </div>
          

        </section>

      </div>

      <div class="requestsimg">
        <img src="/images/learn-code.svg" alt="entrar" />
      </div>

    </div>

  </main>

  <%- include('./partials/footer') %>

  </body>
</html>