<%- include('./partials/head') %>

<%- include('./partials/header') %>
  <main>
    <div class="learnteachtitle" id="main-title-publicated">
      <h1 class="main-title">cursos agendados</h1>
    </div>

    <div class="main-content">
      <div class="main-box ">
        <section class="main-todo" id="fundo-cinza">          
          <div class="main-buttons" id="main-buttons">
            <div class="filtro">       
              <div class="publicado">
                <a href="/pages/create/publicated"><button class="btn-status btn-tipos">publicados</button></a>
              </div>
              <div class="agendado-page">
                <button class="btn-status btn-tipos"><a href="/pages/create/schedule"></a>agendados</button>
              </div>
              <div class="andamento">
                <a href="/pages/create/publicated/started"><button class="btn-status btn-tipos">andamento</button></a>
              </div>
              <div class="cancelado">
                <a href="/pages/create/publicated/cancel"><button class="btn-status">cancelados</button></a>
              </div>
              <div class="concluido">
                <a href="/pages/create/publicated/finished"><button class="btn-status btn-tipos">concluídos</button></a>
              </div>
            </div>
            <div class="alert alert-success" id="course-cancel" hidden>
              <p>Curso cancelado com sucesso!</p>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Curso</th>
                  <th scope="col">Coin</th>
                  <th scope="col">Carga horária</th>
                  <th scope="col">Data/Hora</th>
                  <th scope="col">Aluno</th>
                  <th colspan="2">Ações</th>
                </tr>
              </thead>
              <tbody>
                <% listaCursos.forEach(element => { %>
                  <tr>
                    <th scope="row"><%= element.id %></th>
                    <td><%= element.curso %></td>
                    <td><%= element.coin %></td>
                    <td><%= element.carga_horaria %></td>
                    <td><%= element.data_brasil %></td>
                    <td><%= element.nome_usuario_agendado %></td>
                    <!-- <td><a href="/pages/create/publicated/edit/<%= element.id %>"><button type="button" class="btn-action" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar curso"><i class='bx bxs-edit config-icon'id="editar"></i></button></a></td> -->
                    <td><a href="/pages/create/publicated/start/<%= element.id %>"><button type="button" class="btn-action" data-bs-toggle="tooltip" data-bs-placement="top" title="Iniciar curso <%= element.curso %>"><i class='bx bx-play-circle config-icon' id="iniciar"></i></button></a></td>
                    <form action="/pages/create/publicated/scheduled/<%= element.id %>" method="post">
                    <td><button type="button" class="btn-action" data-bs-toggle="modal" data-bs-target="#cancel-course" data-bs-toggle="tooltip" data-bs-placement="top" title="Cancelar curso <%= element.curso %>"><i class='bx bxs-error config-icon'id="cancelar"></i></button></td>
                    </tr>
                    
                    <!-- Modal cancel course-->
                    <div class="modal fade" id="cancel-course" tabindex="-1" aria-labelledby="cancel-course" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cancelar curso</h5>
                            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                          </div>
                          <div class="modal-body">
                            <p>Este procedimento é irreversivel!</p>
                            <p>Deseja realente cancelar o curso <%= element.curso %>?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">não</button>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirm-cancel">sim</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  <div class="modal fade" id="confirm-cancel" tabindex="-1" aria-labelledby="confirm-cancel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="confirm-cancel">Cancelar curso</h5>
                          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                        </div>
                        <div class="modal-body">
                          <p>O curso <%= element.curso %> foi cancelado com sucesso!</p>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-primary">sair</button>
                        </div>
                      </div>
                    </div>
                    <% }) %>
                  </tbody>
                </table>
                  </div>
                </form>
                
                
        
        <!-- paginacao  -->
        <div class="d-flex justify-content-center mt-3" id="pagination">
          <nav aria-label="Page navigation example" class="move-scheduled">
            <ul class="pagination">
              <li class="page-item">
                <% 
                            let hrefPrevious = ''
                            if(page > 1){
                              hrefPrevious = '/pages/create/publicated/scheduled?page=' + (page - 1)
                            }
                            %> 
                          <a class="page-link" href="<%= hrefPrevious %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                          </a>
                        </li>
                        <li class="page-item">
                          <% 
                            let hrefNext = ''
                            if(totalPages > page){
                              hrefNext = '/pages/create/publicated/scheduled?page=' + (page + 1)
                            }
                            %> 
                          <a class="page-link" href="<%= hrefNext %>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>             
                </div>
              </section>
                    
              

        
        <div class="main-img">
          <img src="/images/teach.svg" alt="entrar" id="img-publicated" />
        </div>
      </div>    
    </main>

  <%- include('./partials/footer') %>

  </body>
</html>


